@using DoctorApplication.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["ResetPassword"]</h2>
@if (!string.IsNullOrEmpty(TempData["PasswordResetMessage"]?.ToString()))
{
    <div class="alert @Html.Raw(TempData["PasswordResetTypeMessage"])" role="alert">
        @Localizer[@TempData["PasswordResetMessage"].ToString()]
    </div>
}

<form asp-action="SendPasswordReset" asp-controller="Account" asp-anti-forgery="true">
    <div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">@Localizer["E-Mail"]:</label>
            <div class="col-sm-10">
                <input name="eMail" type="text" class="form-control" placeholder="@Localizer["InsertYourEmail"]" />
            </div>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="@Localizer["SendPasswordResetEmail"]" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
